.blue-bg{
  background-color: #1D3E43;
}
.navbar {
    align-items: center;
    padding: 10px 38px 10px 38px;
  }
  
  .menu-items {
    gap: 30px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #E8D2A3;
    font-size: 28px;
    display: flex;
    align-items: center;
  }
  
  .menu-items a:hover {
    color: white;
  }
  