.navbarFood {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto; /* Cambiado a altura automática */
    padding: 1.5em 2em; 
    background-color: #1D3E43;
    border-radius: 10px;
    

    @media (max-width: 650px) {
      flex-direction: column; /* Cambiar a disposición de columna en pantallas más pequeñas */
      text-align: center; /* Centrar el texto en pantallas más pequeñas */
      padding: 1em; /* Ajustar el padding en pantallas más pequeñas */
  }
}

.banner{
  width: 100%;
  border-radius: 10px;
  max-width:"100%";
  height:"auto";

}

.menu-itemsFood {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #E8D2A3;
    font-size: 28px;
  }

.menu-itemsFood a{
    color: #E8D2A3;
    text-decoration: none;
}

.boton-CTA {
  background: '#1D3E43';
  color: '#E8D2A3';
  font-size: '26px'; 
  width: '26%'; 
  padding: '13px 11px';
}

.boton-productos {
  border-radius: '50%';
  color: 'black';
  background-color: 'white';
  border: '2px solid black';
  cursor: 'pointer';
  padding: '5px 10px';
}

input {
  border-radius: 7px;
  border-width: 1px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.footer-list{
  color: #fff;
  font-size: 1.25em;
}
.footer-list p i{
  padding-right: 1em;
}
.gold-text{
  color: #E8D2A3;
}

.product-imagen{
  display: block;
  width: auto;
  max-height: 300px ;
  object-fit: cover
}

.product{
 font-size: 1.25em !important;
}